DATASET YA FILTRADO A MI GUSTO

In [11]:
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
appearances = pd.read_csv("C:\\Users\\Gabriel Castillo\\Desktop\\GITHUB GABRIEL\\EDA\\EDATheBridge\\Futbol\\data\\appearances.csv")
appearances.head().sort_values(by="date")
# he creado 6 distintos notebooks para poder hacer el filtrado de cada tabla de manera individual y no liarme con datasets
# en el codigo utilizo el sort values para ver cual es el primer "date" que se utiliza

,player_id,game_id,appearance_id,competition_id,player_club_id,goals,assists,minutes_played,yellow_cards,red_cards,date,player_pretty_name
1,67064,2479929,2479929_67064,RU1,28095,0,0,90,0,0,2014-08-03,Felicio Brown Forbes
0,52453,2483937,2483937_52453,RU1,28095,0,0,90,0,0,2014-08-08,Haris Handzic
2,67064,2483937,2483937_67064,RU1,28095,0,0,90,0,0,2014-08-08,Felicio Brown Forbes
3,67064,2484582,2484582_67064,RU1,28095,0,0,55,0,0,2014-08-13,Felicio Brown Forbes
4,67064,2485965,2485965_67064,RU1,28095,0,0,90,0,0,2014-08-16,Felicio Brown Forbes

In [32]:
appearances[appearances["game_id"]== 2479929] 
# me aparecen TODOS los jugadores que jugaron el partido con el ID tal

,player_id,game_id,appearance_id,competition_id,player_club_id,goals,assists,minutes_played,yellow_cards,red_cards,date,player_pretty_name
1,67064,2479929,2479929_67064,RU1,28095,0,0,90,0,0,2014-08-03,Felicio Brown Forbes
470,38790,2479929,2479929_38790,RU1,28095,0,0,81,0,0,2014-08-03,Dmitri Golubov
644,106539,2479929,2479929_106539,RU1,28095,0,0,9,0,0,2014-08-03,Aleksandr Vasiljev
1023,97205,2479929,2479929_97205,RU1,28095,0,0,28,0,0,2014-08-03,Nikita Bezlikhotnov
8845,111667,2479929,2479929_111667,RU1,28095,0,0,90,0,0,2014-08-03,Marcinho
8846,183646,2479929,2479929_183646,RU1,28095,0,0,88,0,0,2014-08-03,Diego
8898,86100,2479929,2479929_86100,RU1,28095,0,0,62,0,0,2014-08-03,Vagiz Galiulin
8899,60206,2479929,2479929_60206,RU1,28095,0,0,2,0,0,2014-08-03,Nikolay Safronidi
8981,211025,2479929,2479929_211025,RU1,28095,0,0,90,0,0,2014-08-03,Azamat Zaseev
9031,31868,2479929,2479929_31868,RU1,28095,0,0,90,0,0,2014-08-03,Ivan Paurevic
9122,155334,2479929,2479929_155334,RU1,28095,0,0,90,1,0,2014-08-03,Maksim Tishkin
9189,25879,2479929,2479929_25879,RU1,28095,0,0,90,0,0,2014-08-03,Pavel Alikin
9243,75213,2479929,2479929_75213,RU1,28095,0,0,90,0,0,2014-08-03,Sergey Veremko
9350,69011,2479929,2479929_69011,RU1,28095,0,0,90,2,0,2014-08-03,Pavel Stepanets
82180,47152,2479929,2479929_47152,RU1,2439,0,0,11,0,0,2014-08-03,Gigel Bucur
82181,145919,2479929,2479929_145919,RU1,2439,0,0,72,0,0,2014-08-03,Arsen Khubulov
82246,38340,2479929,2479929_38340,RU1,2439,1,0,90,1,0,2014-08-03,Ivelin Popov
82263,15597,2479929,2479929_15597,RU1,2439,0,0,4,0,0,2014-08-03,Artur Tlisov
82305,15743,2479929,2479929_15743,RU1,2439,0,0,90,1,0,2014-08-03,Vladislav Kulik
82361,67721,2479929,2479929_67721,RU1,2439,0,1,86,0,0,2014-08-03,Mohammed Rabiu
82381,48987,2479929,2479929_48987,RU1,2439,0,0,90,1,0,2014-08-03,Andrey Eshchenko
82423,51897,2479929,2479929_51897,RU1,2439,1,0,90,0,0,2014-08-03,Vladislav Ignatjev
82481,100009,2479929,2479929_100009,RU1,2439,0,0,90,0,0,2014-08-03,Xandao
82515,60790,2479929,2479929_60790,RU1,2439,0,0,90,0,0,2014-08-03,Toni Sunjic
82569,62514,2479929,2479929_62514,RU1,2439,0,0,90,0,0,2014-08-03,Aleksandr Belenov
82750,76075,2479929,2479929_76075,RU1,2439,0,0,18,0,0,2014-08-03,Sekou Oliseh
82817,53331,2479929,2479929_53331,RU1,2439,0,0,90,0,0,2014-08-03,Maksim Zhavnerchik
84907,41037,2479929,2479929_41037,RU1,2439,0,1,79,0,0,2014-08-03,Danilo

In [20]:
appearances.groupby(["player_pretty_name", "competition_id"])[["goals", "assists", "minutes_played", "yellow_cards", "red_cards", "player_club_id"]].sum()
# SE USA DE INDICE EL NOMBRE Y LA COMPETICION PARA VER LOS DATOS

                                      goals  assists  minutes_played  \
player_pretty_name    competition_id
 Alpha Bdul Razak     GR1                 0        0              11
A J Soares            DK1                 1        0             421
Aaron Appindangoye    EL                  0        0             270
                      ELQ                 0        0              90
                      PO1                 0        0             770
...                                     ...      ...             ...
Zydrunas Karcemarskas ELQ                 0        0             540
                      TR1                 0        0            9724
Zymer Bytyqi          ECLQ                1        0             228
                      ELQ                 0        0              90
                      TR1                10       13            4562

                                      yellow_cards  red_cards  player_club_id
player_pretty_name    competition_id
 Alpha Bdul Razak     GR1                        0          0           28956
A J Soares            DK1                        2          0            4068
Aaron Appindangoye    EL                         2          0            7143
                      ELQ                        0          0            2381
                      PO1                        1          0           22527
...                                            ...        ...             ...
Zydrunas Karcemarskas ELQ                        2          0           17664
                      TR1                        9          0          183480
Zymer Bytyqi          ECLQ                       0          0            6879
                      ELQ                        0          0             239
                      TR1                        4          0          144459

[50841 rows x 6 columns]

In [14]:
app =appearances.groupby(["player_pretty_name", "competition_id"])[["goals", "assists", "minutes_played", "yellow_cards", "red_cards", "player_club_id"]].sum().reset_index()
app.head(25)

#LO MISMO QUE ARRIBA PERO: SE SEPARA EL JUGADOR POR SU COMPETICION

,player_pretty_name,competition_id,goals,assists,minutes_played,yellow_cards,red_cards,player_club_id
0,Alpha Bdul Razak,GR1,0,0,11,0,0,28956
1,A J Soares,DK1,1,0,421,2,0,4068
2,Aaron Appindangoye,EL,0,0,270,2,0,7143
3,Aaron Appindangoye,ELQ,0,0,90,0,0,2381
4,Aaron Appindangoye,PO1,0,0,770,1,0,22527
5,Aaron Appindangoye,TR1,0,1,4868,7,0,133336
6,Aaron Bastiaans,NL1,1,0,16,0,0,1426
7,Aaron Boupendza,POCP,0,0,90,0,0,3349
8,Aaron Boupendza,TR1,22,1,2496,7,0,279900
9,Aaron Comrie,SC1,0,0,1093,2,0,33935
10,Aaron Comrie,SFA,0,0,21,0,0,2578
11,Aaron Connolly,CGB,3,0,328,1,0,6185
12,Aaron Connolly,GB1,5,3,2207,0,0,55665
13,Aaron Cresswell,CGB,0,1,860,0,0,3790
14,Aaron Cresswell,ECLQ,0,0,81,1,0,379
15,Aaron Cresswell,EL,0,3,701,1,2,3411
16,Aaron Cresswell,ELQ,0,0,300,2,0,1137
17,Aaron Cresswell,GB1,10,29,22669,32,0,98919
18,Aaron Dhondt,BE1,0,0,11,0,0,57286
19,Aaron Doran,ELQ,0,0,180,0,0,4902
20,Aaron Doran,SC1,7,2,2207,2,0,122550
21,Aaron Doran,SFA,0,2,209,1,0,12255
22,Aaron Escandell,CDR,0,0,1200,1,0,201540
23,Aaron Escandell,EL,0,0,90,0,0,16795
24,Aaron Escandell,ES1,0,0,1003,2,0,201540

In [37]:
app_es = app[app["competition_id"]== "ES1"].reset_index().drop(["index"], axis=1)
app_es
# con el filtro se pueden ver todos los jugadores que han jugado en la liga española, y se incluye el player_club_id

,player_pretty_name,competition_id,goals,assists,minutes_played,yellow_cards,red_cards,player_club_id
0,Aaron Escandell,ES1,0,0,1003,2,0,201540
1,Aaron Martin,ES1,0,3,6943,12,0,62128
2,Aaron Niguez,ES1,0,1,1176,5,0,32151
3,Abdallahi Mahmoud,ES1,0,0,215,1,0,3755
4,Abdon Prats,ES1,3,0,943,3,0,11613
...,...,...,...,...,...,...,...,...
1677,Yuri Berchiche,ES1,9,17,15266,48,0,118884
1678,Zakaria Bakkali,ES1,2,3,1743,8,0,56297
1679,Zdravko Kuzmanovic,ES1,0,1,698,5,0,13008
1680,Ze Castro,ES1,2,3,4137,14,0,18350
1681,Zouhair Feddal,ES1,8,6,9158,45,1,132170

In [38]:
app[app["player_pretty_name"] == "Lionel Messi"]
# este CSV se va a unir a la de los games para mostrar cuantos games hizo el jugador

,player_pretty_name,competition_id,goals,assists,minutes_played,yellow_cards,red_cards,player_club_id
27991,Lionel Messi,CDR,27,23,3236,9,0,4716
27992,Lionel Messi,CL,59,21,6211,7,0,13500
27993,Lionel Messi,ES1,231,109,20545,27,0,31833
27994,Lionel Messi,FR1,10,22,2862,0,0,19822
27995,Lionel Messi,FRCH,1,0,90,0,0,583
27996,Lionel Messi,KLUB,1,0,90,0,0,131
27997,Lionel Messi,SUC,4,4,840,1,1,1179
27998,Lionel Messi,USC,2,1,120,0,0,131

In [17]:
# for x in app: 
#     if appearances.apply(lambda x: x == "ES1" in "competition_id"):
#         print(x)

In [18]:
# for x in appearances: 
#     if appearances.apply(lambda x: (x == "ES1"), appearances):
#         a = appearances.groupby("player_pretty_name")[["goals", "assists", "minutes_played", "yellow_cards", "red_cards", "player_id"]].sum()
#         print(a)
# creo que este codigo estaria bien para hacer un bucle donde se recorre la tabla buscando esas dos cosas ?