ESTE DATASET YA ESTA TERMINADO

In [9]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
players =  pd.read_csv("C:\\Users\\Gabriel Castillo\\Desktop\\GITHUB GABRIEL\\EDA\\EDATheBridge\\Futbol\\data\\vieja\\players.csv")
players.head(3)

,player_id,last_season,current_club_id,name,pretty_name,country_of_birth,country_of_citizenship,date_of_birth,position,sub_position,...,height_in_cm,market_value_in_gbp,highest_market_value_in_gbp,agent_name,image_url,url,club_id,domestic_competition_id,club_name,club_pretty_name
0,254016,2013,855,arthur-delalande,Arthur Delalande,France,France,1992-05-18,Midfield,Central Midfield,...,186,NaN,90000.0,NaN,NaN,https://www.transfermarkt.co.uk/arthur-delalan...,855,FR1,ea-guingamp,Ea Guingamp
1,51053,2013,23,daniel-davari,Daniel Davari,Germany,Iran,1988-01-06,Goalkeeper,NaN,...,192,135000.0,1130000.0,NG360,NaN,https://www.transfermarkt.co.uk/daniel-davari/...,23,L1,eintracht-braunschweig,Eintracht Braunschweig
2,31451,2013,23,torsten-oehrl,Torsten Oehrl,Germany,Germany,1986-01-07,Attack,Centre-Forward,...,192,NaN,1130000.0,NaN,NaN,https://www.transfermarkt.co.uk/torsten-oehrl/...,23,L1,eintracht-braunschweig,Eintracht Braunschweig

In [4]:
players.columns

Index(['player_id', 'last_season', 'current_club_id', 'name', 'pretty_name',
       'country_of_birth', 'country_of_citizenship', 'date_of_birth',
       'position', 'sub_position', 'foot', 'height_in_cm',
       'market_value_in_gbp', 'highest_market_value_in_gbp', 'agent_name',
       'image_url', 'url', 'club_id', 'domestic_competition_id', 'club_name',
       'club_pretty_name'],
      dtype='object')

In [5]:
play = players.groupby(["domestic_competition_id", "player_id","pretty_name", "last_season"])[["current_club_id", "domestic_competition_id"]].sum().reset_index()
play

,domestic_competition_id,player_id,pretty_name,last_season,current_club_id
0,BE1,3176,Eidur Gudjohnsen,2013,2282
1,BE1,3354,Jonathan Blondel,2014,2282
2,BE1,3441,Timmy Simons,2017,2282
3,BE1,4323,Jelle Van Damme,2018,1096
4,BE1,4377,Thomas Buffel,2018,3508
...,...,...,...,...,...
25603,UKR1,1045568,Danylo Golub,2022,61825
25604,UKR1,1048954,Igor Potimkov,2022,55686
25605,UKR1,1050249,Denys Shevchenko,2022,3592
25606,UKR1,1050852,Vitaliy Kholod,2022,48726
25607,UKR1,1064515,Leonardo Almeida,2022,60551

In [6]:
play1 =play[(play["domestic_competition_id"] == "ES1") & (play["last_season"]>= 2014)].sort_values(by="last_season").reset_index(0).drop(["index"], axis=1)
play1

,domestic_competition_id,player_id,pretty_name,last_season,current_club_id
0,ES1,164477,Ezequiel Rescaldani,2014,1084
1,ES1,73076,Jose Maria Lopez Silva,2014,993
2,ES1,73244,Jose Carlos,2014,993
3,ES1,35462,Jordi Codina,2014,3709
4,ES1,35448,Cezary Wilk,2014,897
...,...,...,...,...,...
1633,ES1,280701,Theo Bongonda,2022,2687
1634,ES1,76467,Kiko Femenia,2022,1050
1635,ES1,76746,Damian Suarez,2022,3709
1636,ES1,281404,Kenedy,2022,366
1637,ES1,92947,Sergi Gomez,2022,714

In [7]:
play.dtypes

domestic_competition_id    object
player_id                   int64
pretty_name                object
last_season                 int64
current_club_id             int64
dtype: object

In [11]:
play1[play1["pretty_name"] == "Manu Sanchez"]

,domestic_competition_id,player_id,pretty_name,last_season,current_club_id
1168,ES1,618809,Manu Sanchez,2022,331

In [12]:
play1.to_csv("C:\\Users\\Gabriel Castillo\\Desktop\\GITHUB GABRIEL\\EDA\\EDATheBridge\\Futbol\\data\\filtrada\\play.csv")
# SE CREA EL NUEVO CSV Y SE GUARDA